<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="app_de_Nomina.Properties.Settings.NominaConnectionString"
            connectionString="Data Source=LAPTOP-KQH2TR9E;Initial Catalog=Nomina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>